* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  width: 100%;
  height: 70px;
}

a {
  text-decoration: none;
}

.logo {
  height: 70px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.box {
  justify-content: space-between;
  display: flex;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  margin: 0 30px;
  line-height: 70px;
}

.nav-list a {
  color: #fafafa;
}

#mv {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

#portfolio {
  background-color: #ECEFF1;
  width: 100%;
}

.title {
  font-size: 64px;
  color: #fafafa;
  text-align: center;
  padding-top: 200px;
}

.sentence{
  color: #fafafa;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.heading{
  text-align: center;
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
}
.heading::after{
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.pf-sentence{
  color: #000000;
  text-align: center;
  font-size: 16px;
  padding-top: 30px;
}

.portfolio-img{
  width: 920px;
  margin: 0 auto;
  padding: 30px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
}
.pf-logo{
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
}

.bg1{
  background-image: url(img/sketch.jpg);
}

.bg2{
  background-image: url(img/websuku.png);
}

.bg3{
  background-image: url(img/write.jpg);
}

.bg4{
  background-image: url(img/webcamp.png);
}

.bg5{
  background-image: url(img/talk.jpg);
}

.bg6{
  background-image: url(img/webcamp-mother.png);
}

#feature{
  width: 100%;
}

.ft-list{
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
  display: flex;
}

.ft-header{
  margin: 10px 0 10px 0;
  font-size: 20px;
  color: #000000;
}

.list{
  width: 320px;
  text-align: center;
  margin-right: 10px;
  font-size: 60px;
}

.list:last-child{
  margin-right: 0;
}

.fab{
  font-size: 60px;
}

.fas{
  font-size: 60px;
}


.list-text{
  text-align: left;
  font-size: 16px;
}

#profile{
  width: 100%;
  background-color: #ECEFF1;
}

.my-face{
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  margin: 0 auto;
}

.profile-img{
  width: 50%;
}

.profile-list{
  padding: 30px 0 90px 0;
  display: flex;
}

.profile-text{
  width: 50%;
  font-size: 20px;
}

.profile-description{
  font-size: 16px;
  padding-top: 5px;
}

.profile-skill{
  padding-top: 20px;
}